<%= turbo_frame_tag "users", target: "_top" do%>
  <div>
    <% if @users.any?%>
      <% @users.each do |user|%>
        <div class="flex flex-col items-center justify-center">
          <div class="bg-white shadow-md rounded-lg p-6 mb-4 w-full max-w-md">
            <h2 class="text-xl font-bold mb-2"><%= user.name %></h2>
            <p class="text-gray-700 mb-4">Email: <%= user.email %></p>
            <p class="text-gray-700 mb-4">Role: <%= user.role %></p>
            <% if user.role == "patient" %>
              <%= link_to "Show Medical Records", medical_records_path, class:"underline text-teal-500"%>
            <% end %>
            <%= button_to "Chat", conversations_path(receiver_id: user.id), method: :post, class: "underline text-teal-500 btn-primary" %>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
<%end%>
