<div class="flex flex-col w-full items-center">
  <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field flex flex-col">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border h-8 rounded-sm border-gray-400 bg-gray-100" %>
      </div>

      <div class="field flex flex-col">
        <%= f.label :password, "Mot de passe" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border h-8 rounded-sm border-gray-400 bg-gray-100" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:"accent-[#21ba9f]"%>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions bg-[#21ba9f] text-white font-bold flex items-center justify-center rounded-md mt-8 min-h-8">
        <%= f.submit "Se connecter" %>
      </div>

      <div class="text-center mt-2"><%= render "devise/shared/links" %></div>
    <% end %>

  </div>
</div>